
h1{

font-size: 12px;
color:blueviolet;


}

span{

    color:blue;
    font-size: 18px;
    



}

.span-master{

    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: deepskyblue;

}
    .span-testing{

font-size: 22px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: indigo;


}